*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: hsl(34, 16%, 52%);
  align-items: center;
}

h1 {
  color: black;
}

.button {
  cursor: pointer;
}
.button:hover {
  color: hsl(34, 16%, 52%);
}
