.theme-overview {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
}

.view-toggle {
  display: flex;
  justify-content: start;
  font-size: 1.1rem;
  background-color: transparent;
  border: 0px;
}
