.theme-form {
  display: grid;
  gap: 0.8rem;
}

.edit-theme-form__label {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  width: 80%;
}

.theme-form__edit-name-inputfield {
  padding: 0.5rem;
  font-size: 1.125rem;
  border-radius: 1.25rem;
  width: 75%;
}

.edit-theme-form__color-preview {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  border: none;
  width: 80%;
  justify-self: start;
}

.theme-form__show-preview-color {
  box-sizing: border-box;
  width: 15%;
  height: 5.125rem;
  border-radius: 1.2rem;
  width: 90%;
  background-color: rgba(52, 49, 49, 0.872);
  cursor: pointer;
}

.theme-form__apply-changes-button {
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 1.25rem;
  background-color: #25b836;
  cursor: pointer;
  width: 80%;
  justify-self: start;
}
