.theme-detail-view {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr, 2fr;
  gap: 0.3rem;
}

.theme-form__delete-button {
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 1.25rem;
  background-color: #ff6666;
  cursor: pointer;
  width: 80%;
}

.theme-form__try-out-button {
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 1.25rem;
  background-color: #d140b1;
  cursor: pointer;
  width: 80%;
}
